<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xz.mapper.M_merchandiseMapper">

    <insert id="addM_merchandise" parameterType="com.xz.mapper.M_merchandiseMapper">
        insert into j2ee.m_merchandise values (#{M_mer.machineId},#{M_mer.merchandiseId},#{M_mer.margin},
        #{M_mer.itemId},#{M_mer.soldNum},#{M_mer.soldSum})
    </insert>

    <select id="select_allM_merchandise" parameterType="int" resultType="com.xz.pojo.M_merchandise">
        select * from  j2ee.m_merchandise where m_merchandise.machine_id = #{machineId};
    </select>

    <delete id="delete_AM_merchandise" parameterType="com.xz.pojo.M_merchandise">
        delete from j2ee.m_merchandise where machine_id = #{m_merchandise.machineId} and item_id=#{m_merchandise.itemId}
    </delete>

    <update id="update_AM_merchandise" parameterType="com.xz.pojo.M_merchandise">
        update j2ee.m_merchandise
        <set>
            <if test="updateM_merchandise.merchandiseId != null and updateM_merchandise.merchandiseId != ''">
                merchandise_id = #{updateM_merchandise.merchandiseId},
            </if>
            <if test="updateM_merchandise.margin != null and updateM_merchandise.margin != ''">
                margin = #{updateM_merchandise.margin},
            </if>

            <if test="updateM_merchandise.soldNum != null ">
                sold_num = #{updateM_merchandise.soldNum},
            </if>

            <if test="updateM_merchandise.soldSum != null ">
                sold_sum = #{updateM_merchandise.soldSum}
            </if>
        </set>
        <where>
            machine_id = #{updateM_merchandise.machineId}
            and item_id = #{updateM_merchandise.itemId}
        </where>
    </update>
</mapper>