<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xz.mapper.MachineMapper">

    <insert id="addMachine" parameterType="com.xz.pojo.Machine">
        insert into j2ee.machine values (#{m.machine_id},#{m.name},#{m.type},#{m.screen},#{m.possessor},#{m.item_num},
        #{m.capacity},#{m.gps},#{m.addr},#{m.distriDate},#{m.endDate},#{m.state})
    </insert>

    <select id="select_allMachine" resultType="com.xz.pojo.Machine">
        select machine_id, name, type, screen, possessor, item_num, capacity, gps, addr, distridate as distriDate, , state from j2ee.machine;
    </select>
</mapper>