<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xz.mapper.MerchandiseMapper">


    <insert id="addMerchandise" parameterType="com.xz.pojo.Merchandise">
        insert into j2ee.merchandise values (#{mer.merchandiseId},#{mer.name},#{mer.price},
        #{mer.manufactureId},#{mer.date},#{mer.inventory});
    </insert>

    <select id="select_allMerchandise" resultType="com.xz.pojo.Merchandise">
        select merchandise_id, name, price, manufacturer as manufactureID, date as Date, inventory from j2ee.merchandise;
    </select>
    
</mapper>