<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xz.mapper.UserMapper">

    <select id="select" resultType="com.xz.pojo.User">
        select * from j2ee.user
        where username = #{username}
        and password = #{password}
    </select>

    <insert id="insert" parameterType="com.xz.pojo.User">
        insert into j2ee.user(username, password, role, tel, email, addr, createdate, enddate) values(
        #{u.username},#{u.password},#{u.role},#{u.tel},#{u.email},#{u.addr},#{u.createDate},#{u.endDate}
        )
    </insert>

    <select id="selectExist" resultType="com.xz.pojo.User">
        select * from j2ee.user
        where username=#{username}
    </select>

    <select id="select_allUser" resultType="com.xz.pojo.User">
        select user_id, username, password, role, tel, email, addr, createdate as createDate,
        enddate as endDate from j2ee.user
    </select>
    <select id="select_AUser" resultType="com.xz.pojo.User">
        select * from j2ee.user
        where username = #{username}
    </select>

    <delete id="delete_AUser" parameterType="java.lang.String">
        delete from j2ee.user where username = #{username}
    </delete>

    <update id="update_AUser" parameterType="com.xz.pojo.User">
        update j2ee.user
        <set>
            <if test="updateUser.password != null and updateUser.password != ''">
                password = #{updateUser.password},
            </if>

            <if test="updateUser.tel != null and updateUser.tel != ''">
                tel = #{updateUser.tel},
            </if>

            <if test="updateUser.email != null and updateUser.email != ''">
                email = #{updateUser.email},
            </if>

            <if test="updateUser.addr != null and updateUser.addr != ''" >
                addr = #{updateUser.addr}
            </if>
        </set>
        <where>
            username = #{updateUser.username}
        </where>
    </update>
</mapper>